<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <ul class="list-unstyled">
      <li>
        <div class="well row <%= cycle('white-bg', '') %>">
          <div>
              <h3><%= @plan.nombre_plan %><p> <%= @plan.nombre_isapre %> <p> <%= @plan.precio_base_plan %></h3>
            <p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
